<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>
{{ with .Description }}
  <meta name="description" content="{{ . }}">
{{ else with site.Params.description }}
  <meta name="description" content="{{ . }}">
{{ end }}
<link rel="stylesheet" href="{{ `css/theme.css` | relURL }}">
<link rel="stylesheet" href="{{ `css/category-tree.css` | relURL }}">
